/*Header*/
header {
    padding: 10%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 12px;
}

nav {
    width: 100%;
    height: 20%;
    border-radius: 20px;
    display: flex;
    justify-content: end;
    align-items: center;
    border: 1px solid black;
}

.nav-links {
    margin-right: 20px;
    color: rgba(75, 85, 99, 1);
    text-decoration: none;
    display: flex;
    align-items: center;
}

.nav-button {
    display: flex;
    align-items: center;
}

#nav-link {
    color: rgba(16, 185, 129, 1);
}

#nav-button {
    background-color: rgba(16, 185, 129, 1);
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 32px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

#nav-button .material-symbols-outlined {
    margin-left: 5px;
}

/*Contents*/
/*content-primeiro*/
.content-primeiro {
    background-color: rgba(15, 184, 128, 0.084);
    padding: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero {
    margin-left: 5%;
}

#button {
    background-color: rgba(15, 184, 128, 0);
    color: rgba(16, 185, 129, 1);
    padding: 10px 20px;
    border: none;
    border-radius: 32px;
    cursor: pointer;
    border: 1px solid rgba(16, 185, 129, 1);
    display: flex;
    align-items: center;
    margin-left: 3%;
}

.button,
.content {
    display: flex;
}

.content-primeiro h1 {
    font-size: 64px;
    color: rgba(17, 24, 39, 1);
    letter-spacing: 5px;
}

.content-primeiro strong {
    color: rgba(16, 185, 129, 1);
}

.content-primeiro p {
    font-size: 16px;
    color: rgba(107, 114, 128, 1);
    margin-top: 30px;
    margin-bottom: 56px;
}

/*content-segundo*/
.content-segundo h3 {
    font-weight: normal;
    color: rgba(16, 185, 129, 1);
    position: relative;
    border-bottom: solid 1px rgba(16, 185, 129, 1);
}

.content-segundo strong {
    color: rgba(16, 185, 129, 1);
}

.content-segundo .conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}

.conteudos .conteudo h2 {
    margin: 0;
    padding: 0;
    margin-top: 2%;
    margin-bottom: 10px;
    text-align: center;
}

.conteudos .conteudo p {
    color: rgba(107, 114, 128, 1);
    font-size: 16px;
    line-height: 1.2em;
    max-height: 3.6em;
    overflow: hidden;
    margin-top: 5%;
    overflow: hidden;
    text-align: center;
}

.conteudos .conteudo .link-p {
    text-decoration: none;
    color: rgba(16, 185, 129, 1);
    text-transform: uppercase;
    margin-top: 2%;
    display: block;
}

.content-segundo .conteudos {
    display: flex;
    justify-content: space-between;
}

.conteudos .conteudo .links-none {
    text-decoration: none;
    color: inherit;
    display: block;
}

.content-segundo {
    padding: 0%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
}

/*content-terceiro*/
.content-terceiro #button {
    background-color: rgba(245, 255, 255, 1);
    color: rgba(16, 185, 129, 1);
    padding: 10px 20px;
    border: none;
    border-radius: 32px;
    cursor: pointer;
    border: 1px solid rgba(245, 255, 255, 1);
    display: flex;
    align-items: center;
    margin-left: 3%;
    margin-top: 2%;
}

.content-terceiro h3 {
    font-size: 48px;
    color: rgba(255, 255, 255, 1);
    margin: 0;
    padding: 0;
    text-align: center;
}

.content-terceiro p {
    margin-top: 2%;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    padding: 0;
    text-align: center;
}

.content-terceiro {
    background: rgba(16, 185, 129, 0.8);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

/*content-quarto*/
.content-quarto .faq h5 {
    display: inline-block;
    color: rgba(16, 185, 129, 1);
    border-bottom: solid 1px rgba(16, 185, 129, 1);
    margin: 0;
}

.content-quarto .faq h3 {
    font-size: 48px;
    color: rgba(17, 24, 39, 1);
    margin: 1%;
}

.content-quarto .faq strong {
    color: rgba(16, 185, 129, 1);
}

.content-quarto .questionario .pergunta h4 {
    background-color: rgba(209, 250, 229, 1);
    padding: 16px;
    border-radius: 8px;
    font-size: 20px;
    color: rgba(16, 185, 129, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-quarto .questionario .pergunta a {
    text-decoration: none;
    color: inherit;
}

.content-quarto .questionario .pergunta p {
    font-size: 16px;
    color: rgba(75, 85, 99, 1);
    text-align: justify;
    margin: 5%;
}

.content-quarto .faq {
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.content-quarto {
    padding: 10%;
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
}

footer .teste {
    display: flex;
    padding: 10%;
    margin-left: 5%;
}

footer .sobre-nos {
    background-color: rgba(209, 250, 229, 0.5);
    padding-top: 5%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .questionario {
    border-top: solid 1px rgba(16, 185, 129, 1);
}

footer .contatos {
    margin-bottom: 5%;
}

footer img {
    margin-left: 10px;
}

footer strong {
    color: rgba(16, 185, 129, 1);
}

footer .desenvolvidores {
    margin-top: 20px;
    display: flex;
    align-items: center;
    font-size: small;
}

footer .sobre-nos {
    margin-top: 5%;
    padding: 10%;
    margin-left: 5%;
}

footer .links-uteis,
footer .paginas-uteis {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

footer .links {
    display: flex;
    justify-content: space-evenly;
}

/* Estilos para telas com largura de 600px ou menos */
@media (max-width: 600px) {
    header {
        flex-direction: column;
    }

    nav {
        height: auto;
    }

    .nav-links {
        margin-right: 0;
    }

    .content-primeiro {
        flex-direction: column;
    }

    .content-segundo .conteudos {
        flex-direction: column;
    }

    .content-quarto {
        flex-direction: column;
    }

    footer .teste {
        flex-direction: column;
    }

    footer .links {
        flex-direction: column;
    }
}
