@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}

html {
    height: 100%;
}

body {
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    height: 100%;
}


:root {
    --primary: #40c79a;
    --text: white;
    --text-blue: #4682B4;
    --gray: #c0bcff;
    --error: #E3452F;
    --text-green: #40c79a;
    --background: white;
    --white: white;
    --gray-light: #FAFBFC;
    --gray-borders: #ECF1F4;
    --gray-dark: #AEB7C2;
    --error: red;
    --post-color: #f5f5f5;
}



header {
    height: 80px;
    padding: 0 16px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--primary);
    justify-content: space-between;
}

.navigation__group {
    display: flex;
    gap: 16px;
    align-items: center;
}

.navigation__group > .icon {
    cursor: pointer;
    width: 36px;
    height: 36px;
    transition: all 0.2s ease-in-out;
}

.navigation__group > .icon:hover {
    transform: scale(1.1);
}

.user-name {
    font-size: 14px;
    font-weight: 700;
    text-align: left;
    color: var(--text-green);
}
.search-box {
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    margin-left: 10%;
    width: 65%;
    background-color: white;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    display: flex;
    margin-right: 10px;
    justify-content: space-around;
}



.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    padding: 1vh 1vw;
    border-radius: 5px;
}

.nav-links a:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Fundo ligeiramente diferente no hover */
}
.form-search {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}
.logout {
    color: #E3452F;
    text-decoration: none;

}
.logo{
    margin-left: 1%;
    cursor: pointer;
   
}

.profile {
    display: block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
    border: 3px solid #f7f7f7;
    filter: drop-shadow(-20px 0 10px rgba(0, 0, 0, 0.1));
}



.profile:hover {
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}

.email {
    color: var(--text-blue);
}


.dropdown__wrapper {
    background-color: var(--background);
    width: 240px;
    top: 88px;
    right: 16px;
    position: absolute;
    border-radius: 8px;
    border: 1px solid var(--text-gray);
    display: flex;
    flex-direction: column;
    gap: 4px;
    animation: fadeOutAnimation ease-in-out 0.3s forwards;
}

.dropdown__wrapper--fade-in {
    animation: fadeInAnimation ease-in-out 0.3s forwards;
}

.none {
    display: none;
}

.hide {
    opacity: 0;
    visibility: hidden;
    animation: fadeOutAnimation ease-in-out 0.3s forwards;
}


@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        visibility: hidden;
        width: 160px;
    }
    100% {
        opacity: 1;
        visibility: visible;
        width: 240px;
    }
}

@keyframes fadeOutAnimation {
    0% {
        opacity: 1;
        width: 240px;
        visibility: visible;
    }
    100% {
        opacity: 0;
        width: 160px;
        visibility: hidden;
    }
}

.dropdown__group {
    padding: 12px;
}

.divider {
    width: 100%;
    padding: 0;
    margin: 0;
}

nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 4px;
}

nav > ul > li {
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    padding-left: 8px;
    width: 100%;
}

nav > ul > li > img {
    height: 24px;
    width: 24px;
}

nav > ul > li:hover {
    cursor: pointer;
    
}

.status-card {
    position: fixed;
    top: 10%;
    right: 10%;
    background: rgba(251, 251, 251, 0.9);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 24px;
    display: none;
    z-index: 1000;
    max-width: 400px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

@media only screen and (max-width: 600px) {
    .status-card {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 95%;
        max-width: none;
    }
}


.status-message.success {
    color: #28a745;
}

.status-message.error {
    color: var(--error);
}

.body-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f4f4;
}

.card-login {
    background-color: #f8f8f8;
    border-radius: 12px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    padding: 32px;
    max-width: 470px;
    width: 100%;
}

.card-login h3 {
    margin-bottom: 24px;
    color: var(--text-green);
}

.p-no-account {
    margin-top: 16px;
    margin-bottom: 8px;
    color: #666;
}

.form-group {
    margin-bottom: 24px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    color: #666;
    font-weight: 500;
    font-size: 15px;
}

.form-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s ease;
}

.form-group input:focus {
    border-color: var(--text-green);
    outline: none;
}

.btn-login {
    background-color: var(--text-green);
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-login:hover {
    background-color: #085c05;
}

.no-account {
    font-size: 14px;
    color: var(--text-green);
    text-decoration: none;
    margin-top: 8px;
    display: inline-block;
}

.card-login::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgba(61, 132, 179, 0.1), rgba(255, 255, 255, 0));
    z-index: -1;
    border-radius: 12px;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .card-login {
        max-width: 100%;
    }
}


:root {
    --text-color: #ffffff;
    --text-gray: #e1e1e1;
    --text-heading-gray: #b9b9b9;
}



/*? footer reset */
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/*? footer containers */

footer {
    
    bottom: 0;
    background-color: var(--primary);
    min-width: 18rem;
    width: 100vw;
    /* bottom: 0; */
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
}


.footer-wrapper {
    display: flex;
    background: var(--primary);
    flex-direction: column;
    max-width: 80rem;
    padding: 1rem;
}


/*? top section */
.footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    padding: 1rem 0px;
    justify-content: space-between;
}

.footer-line {
    display: block;
    width: 100%;
    height: 0.5rem;

    background: linear-gradient(
        90deg,
        rgba(6, 68, 47, 0.8),
        rgba(32, 92, 72, 0.6) 50%,
        rgba(16, 185, 129, 0.4)
    );
}


/*? footer subscribe */
.footer-subscribe {
    display: flex;
    gap: 0.75rem;
    flex-wrap: wrap;
}

.footer-subscribe > input {
    border: 1px solid var(--text-gray);
    color: var(--text-color);
    min-height: 2.25rem;
    font-size: 1.2rem;
    flex: 1 0 8rem;
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
}

.footer-subscribe > button {
    cursor: pointer;
    background: var(--text-color);
    border-radius: 0.5rem;
    color: white;
    font-size: 1.25rem;
    min-width: 8rem;
    min-height: 2.25rem;
    flex: 1 0 5rem;
    white-space: nowrap;
    padding: 0.5rem 0.75rem;
    border: 0;
    outline: none;
}

/*? footer columns */
.footer-columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    flex: 2 0 140px;
    width: 100%;
    gap: 1rem;
    padding: 1.5rem 0.5rem 1rem 0.5rem;
    margin: 0 auto;
    border-top: 1px solid var(--text-gray);
}

.footer-columns ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-columns ul a {
    color: var(--text-color);
    text-decoration: none;
}

.footer-columns ul a:hover{
    text-decoration: underline;
}

.footer-columns ul li {
    margin-bottom: 1rem;
}

.footer-columns h3 {
    color: white;
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-size: 1.125rem;
}

.footer-centering {
    margin: 0 auto;
}

.footer-columns > section {
    min-width: 9rem;
}

.footer-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    min-width: 12rem;
    gap: 0.5rem;
}

.footer-logo > svg {
    stroke: var(--text-color);
    stroke-width: 0.5rem;
    width: 3rem;
}

/*? Footer bottom */

.footer-bottom {
    text-align: center;
    border-top: 1px solid var(
        --text-gray
    );
    margin-top: 3rem;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
    padding: 1rem 0px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-bottom > small {
    font-size: 1rem;
    margin: 0 0.25rem;
}

.footer-headline > h2 {
    margin: 0;
}

.footer-headline > p {
    margin: 0.75rem 0px;
}

/*? socials */

.social-links {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
}

.social-links img {
    width: 1.5rem;
    height: 1.5rem;
    transition: all 0.2s ease-in-out;
}

.social-links img:hover {
    transform: scale(1.1);
}

/*? mobile */

@media (max-width: 800px) {
    .footer-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 1rem 0.5rem 2rem 0.5rem;
    }

    .footer-bottom {
        display: flex;
        flex-direction: column-reverse;
        align-items: space-between;
        justify-content: center;
        margin: 0 auto;
    }
    footer{
        width: 100%;
    }
}
/* blog style start */
.post__author {
    font-family: 'Poppins', sans-serif;
}

.p-post {
    margin: 0;
    font-size: 1rem;
    font-family: "Ubuntu Sans", sans-serif;
    font-optical-sizing: auto;
    line-height: 1.5;
    color: #333;
}

.blog {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    margin-top: 2%;
    width: 100%;
    background-color: var(--background);
    word-break: break-word;
}

.aside {
    flex: 1;
    background-color: var(--text-green);
    padding: 1.5rem;
    border-radius: 1rem;
    margin: 1.5rem;
    border: 1px solid #e0e0e0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 20%;
}

.aside h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: white;
}

.aside ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.aside ul li {
    margin-bottom: 0.5rem;
}

.aside ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

.aside ul li a:hover {
    color: #007bff;
}

.discussion {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    width: 60%;
    background-color: var(--background);
}

.discussion__header {
    border-bottom: var(--gray-borders);
    display: flex;
    gap: 0.5rem;
    border-radius: 0.5rem 0.5rem 0 0;
    overflow: hidden;
    padding: 1rem;
    width: 100%;
    margin-bottom: 1rem;
}

.avatar {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
}

.discussion__header textarea {
    border: 1px solid var(--gray-borders);
    padding: 0.5rem;
    border-radius: 0.25rem;
    height: 3rem;
    transition: height 0.3s ease-in-out;
    resize: none;
    width: 100%;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
}

.discussion__header textarea:focus {
    outline: none;
    height: 5rem;
    border: 1px solid var(--primary);
}

.comment-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.comment-box textarea.comment-text {
    border: 1px solid var(--gray-borders);
    padding: 0.5rem;
    border-radius: 0.50rem;
    height: 2.4rem;
    transition: height 0.3s ease-in-out;
    resize: none;
    width: 100%;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}

.comment-box textarea.comment-text:focus {
    outline: none;
    height: 5rem;
    border: 1px solid var(--primary);
}

.comment-box button.comment-send {
    margin-top: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 1rem;
    background-color: var(--text-green);
    color: white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    align-self: flex-end;
}

.comment-box button.comment-send:hover {
    background-color: var(--primary);
}

.success-message {
    background-color: var(--text-green);
    opacity: 0.8;
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-top: 10px;
    display: none;
}

.post {
    display: flex;
    padding: 1rem;
    min-height: 6rem;
    gap: 0.25rem;
    border-bottom: solid 1px var(--gray-borders);
    background-color: var(--background);
    border-radius: 0.5rem;
    margin-bottom: 0.7rem;
}

.newpost__toolbar {
    justify-content: space-between; /* Altera o alinhamento dos botões */
    display: flex;
    gap: 0.5rem;
    padding: 0.25rem;
    width: 100%; /* Certifica-se que o contêiner ocupe a largura total */
}

.newpost__toolbar button {
    border: none;
    cursor: pointer;
    padding: 0.7rem;
    border-radius: 1rem;
}

.button--primary {
    background-color: var(--text-green);
    color: var(--white);
    min-width: 5rem;
}

.button--primary:hover {
    background-color: var(--primary);
}

.post__text {
    font-size: 0.75rem;
    word-wrap: break-word;
    display: flex;
}

.post__author {
    font-size: 0.8rem;
    word-wrap: break-word;
}

.post__date {
    font-size: 0.75rem;
    margin-left: 0.25rem;
    color: var(--gray-dark);
    word-wrap: break-word;
}
.post-link{
    font-style: italic;
    color: blue;
    word-wrap: break-word;
}
.post-link:hover{
    color: var(--text-green);
}


.discussion__posts {
    width: 100%;
}

.post__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    
}

.report, .delete {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

img.comment__icon {
    width: 1.5rem;
    height: 1.8rem;
    object-fit: cover;
    cursor: pointer;
}

img.comment__icon:hover {
    opacity: 0.5;
}

/* Estilos para o ícone de deletar */
img.delete__icon {
    width: 1.5rem;
    height: 1.5rem;
    object-fit: cover;
    opacity: 0.4;
    cursor: pointer;
    margin-top: 80%;
}

/* Estilos para o ícone de reportar */
img.report__icon {
    width: 1.5rem;
    height: 1.5rem;
    object-fit: cover;
    opacity: 0.4;
    cursor: pointer;
    margin-top: 10%;
}

/* Efeito hover para ambos os ícones */
img.report__icon:hover,
img.delete__icon:hover {
    opacity: 1;
}


.comment-button {
    display: flex;
    align-items: center;
    gap: 0.25rem; 
}

.comment-count {
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--gray-dark);
}
.comments {
    margin-top: 20px;
}
.comment {
    display: flex;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}
.comment .avatar {
    margin-right: 10px;
}
.comment .avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.comment__body {
    flex: 1;
}
.comment__author {
    color: #333;
    font-size: smaller;
    
}
.comment__date {
    font-size: 0.875em;
    color: #777;
}
.comment__text {
    margin-top: 5px;
    line-height: 1.5;
    color: #444;
}
.comment-box {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.comment-text {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    resize: none;
    margin-bottom: 10px;
}



/* Estilos para o modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: var(--background); /* Usando a cor de fundo do site */
    margin: 5% auto;
    padding: 20px;
    border: 1px solid var(--gray-borders); 
    width: 80%;
    border-radius: 0.6rem;
}

.close {
    color: var(--gray-dark); /* Cor de texto semelhante ao restante do site */
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-content-rules {
    background-color: #fefefe;
    margin: 5% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}


.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.h2-report {
    color: var(--error);
}   

.close:hover,
.close:focus {
    color: black; /* Cor de texto ao passar o mouse semelhante ao restante do site */
    text-decoration: none;
    cursor: pointer;
}

/* Estilos para o botão do modal */
.modal-button {
    background-color: var(--error); 
    color: var(--white); 
    padding: 10px 20px;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-button:hover {
    background-color: var(--gray-dark);
    color: var(--error);
}

select {
    width: 30%;
    padding: 0.5rem;
    border: none;
    border-radius: 1rem;
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
}

select:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

.report-text {
    background-color: lightgray;
    border-radius: 1rem;
    padding: 0.5rem;
    margin-top: 2%;
}

.image-preview {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.image-preview__item {
    position: relative;
    flex: 1 1 calc(33.333% - 10px); 
    max-width: calc(33.333% - 10px);
}

.image-preview__item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

.image-preview__item button {
    position: absolute;
    top: 5px;
    right: 5px;
    background: red;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button--upload {
    background-color: transparent;
    border: none; 
    cursor: pointer;
    padding: 0; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload-icon {
    width: 1.5rem; 
    height: 1.5rem;
}

.upload-text {
    font-family: 'Poppins', sans-serif; 
    font-size: 0.8rem; 
    color: var(--text-green); 
    margin-left: 0.5rem; 
    font-weight: bold;
}
img.post-image {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 0.5rem;
    object-fit: contain;
    margin-top: 0.5rem;
    max-height: 31rem;
    cursor: pointer;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.image-carousel {
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    gap: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
}

.carousel-item {
    scroll-snap-align: start;
}

.carousel-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
   
}


.carousel-nav button {
    background-color: var(--text-green);
    border-radius: 50%;
    border: 1px solid #ccc;
    padding: 0.7rem;
    cursor: pointer;
    color: white;
    width: 2.3rem;
    opacity: 70%;
}
.carousel-nav button:hover {
    background-color: var(--gray-light);
    color: black;
}

.image-counter {
    font-size: 0.9rem;
}

.image-modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.image-modal .modal-content {
    max-width: 90%;
    max-height: 90%;
}

.image-modal .close-modal {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}
.account-container {
    max-width: 90%;
    margin: 20px auto;
    padding: 2rem;
    background-color: var(--gray-light);
    border: 1px solid var(--gray-borders);
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.account-container:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.account-welcome {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 2rem;
    color: var(--primary);
    margin-bottom: 1.5rem;
}

.account-info {
    font-size: 1.125rem;
    color: black;
    margin-bottom: 0.75rem;
}
.delete-account-btn {
    background-color: var(--error); /* Vermelho */
    color: var(--text-color); /* Branco */
    border: 2px solid #CC0000; /* Borda mais escura */
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
}
.delete-account-btn:hover {
    background-color: #CC0000; /* Vermelho mais escuro no hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
.a-menu {
    color: #000;
    text-decoration: none;
}
.a-menu:hover {
    color: var(--gray-dark);
}

/* Basic table styling */
.user-table {
    width: 100%;
    border-collapse: collapse;
}

.user-table th, .user-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.user-table th {
    background-color: #f4f4f4;
}

/* Action button styling */
.action-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.action-button.demote {
    background-color: #dc3545;
}

.action-button:hover {
    opacity: 0.9;
}

.action-button.demote:hover {
    opacity: 0.9;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .user-table, .user-table thead, .user-table tbody, .user-table th, .user-table td, .user-table tr {
        display: block;
        font-size: small;
    }

    .user-table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .user-table tr {
        border: 1px solid #ccc;
        margin-bottom: 10px;
    }

    .user-table td {
        border: none;
        border-bottom: 1px solid #ddd;
        position: relative;
        padding-left: 50%;
        text-align: left;
    }

    .user-table td:before {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        white-space: nowrap;
        font-weight: bold;
    }

    .user-table td:nth-of-type(1):before { content: "Nome de Usuário"; }
    .user-table td:nth-of-type(2):before { content: "Email"; }
    .user-table td:nth-of-type(3):before { content: "Data de Criação"; }
    .user-table td:nth-of-type(4):before { content: "Tipo de Usuário"; }
    .user-table td:nth-of-type(5):before { content: "Quantidade de Posts"; }
    .user-table td:nth-of-type(6):before { content: "Quantidade de Comentários"; }
    .user-table td:nth-of-type(7):before { content: "Quantidade de Posts com Denúncia"; }
    .user-table td:nth-of-type(8):before { content: "Ações"; }
}

@media screen and (max-width: 480px) {
    .action-button {
        padding: 3px 7px;
        font-size: 12px;
    }
}


  /* Estilo para a barra de tarefas */
  .task-bar {
    background-color: #f4f4f4;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}
.task-bar a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
.task-bar a:hover {
    color: #007bff;
}
/* Estilo para os relatórios e outros elementos */
.report-span {
    color: var(--error);
}
.report-card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.report-card h2 {
    margin-bottom: 15px;
    color: #333;
}
.report-card p,
.report-card .report-details div,
.report-card .user-info div {
    margin-bottom: 15px;
    color: #666;
}
.report-details div,
.user-info div {
    padding: 5px 0;
}
.button-container {
    margin-top: 20px;
}
.delete-post {
    background-color: var(--error);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}
.delete-post:hover {
    background-color: darkred;
}
.post-images img {
    max-width: 57vh;
    height: auto;
    display: block;
    margin: 10px 0;
    cursor: pointer;
    transition: transform 0.3s ease;
}
/* The Modal (background) */
.custom-modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}
/* Modal Content (image) */
.custom-modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}
/* Caption of Modal Image */
#customCaption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
/* Add Animation */
@-webkit-keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
@keyframes zoom {
    from {transform:scale(0.1)} 
    to {transform:scale(1)}
}
/* The Close Button */
.custom-close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

@media (max-width: 768px) {
    .report-card {
        padding: 15px;
    }
    .report-card h2 {
        font-size: 1.2em;
    }
    .report-card p,
    .report-card .report-details div,
    .report-card .user-info div {
        font-size: 0.9em;
    }
    .delete-button {
        padding: 8px 12px;
    }
}

@media (min-width: 768px) {
    .account-container {
        max-width: 80%;
    }
}

@media (min-width: 1024px) {
    .account-container {
        max-width: 70%;
    }
}

@media only screen and (max-width: 768px) {
    .blog {
        flex-direction: column;
        align-items: center;
    }

    .aside {
        margin: 0;
        width: 100%;
    }

    .carousel-nav {
        width: 100%;
    }

    .discussion {
        width: 100%;
    }

    .post__actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 300px; /* Tamanho fixo para dispositivos móveis */
        margin-top: 1%;
    }

    .p-post {
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .blog {
        flex-direction: row;
        align-items: flex-start;
    }

    .aside {
        margin: 0 20px;
        width: 50%;
    }

    .discussion {
        width: 50%;
    }

    .post__actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 600px; /* Tamanho fixo para tablets */
        margin-top: 1%;
    }
}

@media only screen and (min-width: 1025px) {
    .blog {
        flex-direction: row;
        align-items: flex-start;
    }

    .aside {
        margin: 0 20px;
        width: 40%;
    }

    .discussion {
        width: 60%;
    }

    .post__actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 710px; /* Tamanho fixo para desktops */
        margin-top: 1%;
    }
}
.contact-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.developer-profile {
    display: flex;
    align-items: center;
    margin: 40px 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.developer-profile img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
}
.h1-conato{
    color: var(--primary);
}   

.developer-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.developer-profile h2 {
    margin: 0 0 10px;
    color: var(--primary);
}

.developer-profile p {
    margin: 5px 0;
}

.developer-profile a {
    color: var(--primary);
    text-decoration: none;
}

.developer-profile a:hover {
    text-decoration: underline;
}

.footer-note {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    color: #777;
}

.tcc-contact-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tcc-info-section {
    margin: 20px 0;
    
}

.tcc-info-section h2 {
    margin-bottom: 10px;
    color: var(--primary);
}

.tcc-info-section p {
    margin: 5px 0;
}

.tcc-footer-note {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    color: #777;
}

.tcc-github-link img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    vertical-align: middle;
}

.tcc-github-link a {
    color: var(--primary);
    text-decoration: none;
    font-size: 16px;
}

.tcc-github-link a:hover {
    text-decoration: underline;
}

.tcc-pdf-link {
margin-top: 20px;
display: flex;
align-items: center; 
}

.tcc-pdf-link img {
margin-right: 10px;
}

.tcc-pdf-link a {
    color: var(--primary);
    text-decoration: none;
    font-size: 16px;
}

.tcc-pdf-link a:hover {
    text-decoration: underline;
}

.tcc-tech-list {
    list-style-type: none;
    padding: 0;
}

.tcc-tech-list li {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.tcc-tech-list img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.spn-sobre{
    color: var(--primary);
}


